{% extends 'base.html.twig' %}

{% block title %}Informations personnelles{% endblock %}

{% block body %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
    <div class="container-login">
        <div class="form-container">
            <p class="title">Informations personnelles</p>

            {% for message in app.flashes('success') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="error">
                    {{ message }}
                </div>
            {% endfor %}

            <form method="post">
                {{ form_start(account_form) }}

                <div class="input-group">
                    {{ form_label(account_form.email, 'Email') }}
                    {{ form_widget(account_form.email, {'attr': {'class': 'form-control'}, 'value': account_form.vars.data.email}) }}
                </div>

                <div class="input-group">
                    {{ form_label(account_form.username, 'Nom d\'utilisateur') }}
                    {{ form_widget(account_form.username, {'attr': {'class': 'form-control'}, 'value': account_form.vars.data.username}) }}
                </div>

                <div class="input-group">
                    {{ form_label(account_form.newPassword, 'Nouveau mot de passe') }}
                    {{ form_widget(account_form.newPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="input-group">
                    {{ form_label(account_form.verifNewPassword, 'Vérification du nouveau mot de passe') }}
                    {{ form_widget(account_form.verifNewPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="sign">Enregistrer</button>

                {{ form_end(account_form) }}
            </form>
        </div>
    </div>
{% endblock %}
