{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des catégories</h1>

        {% if category is empty %}
            <a href="{{ path('app_category_new') }}" class="btn btn-primary">Créer une catégorie</a>
        {% else %}
            <ul>
                {% for categories in category %}
                    {% if categories.boards|length > 0 %}
                        <li><a href="{{ path('app_category_show', {'id': categories.id}) }}">{{ categories.name }}</a>
                        </li>
                    {% else %}
                        <li>{{ categories.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ path('app_category_new') }}">Créer une catégorie</a>
    </div>
{% endblock %}
