{% extends 'base.html.twig' %}

{% block title %}Nouveau Board{% endblock %}

{% block body %}
    <div class="container-login">
        <div class="form-container">
            <h1>Nouveau Board</h1>

            {{ form_start(form) }}
            <div class="input-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="input-group">
                <label for="board_category">Catégories :</label>
                <select id="board_category" name="board[category][]" class="form-control" multiple>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="sign">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
