{# templates/board/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouveau Board{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau Board</h1>

        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}

        <label for="board_category">Catégories :</label>
        <select id="board_category" name="board[category][]" class="form-control" multiple>
            {% for categories in category %}
                <option value="{{ categories.id }}">{{ categories.name }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary mt-3">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
