{% extends 'base.html.twig' %}

{% block title %}Détails du board {{ board.name }}{% endblock %}

{% block body %}
    <div class="container-list-board">
        <div class="container-boards">
            <h1>Liste des topics associé à "{{ board.name }}"</h1>

            <ul>
                {% if topics is empty %}
                    <li>Aucun topic n'est associé à ce board pour le moment.</li>
                {% else %}
                    {% for topic in topics %}
                        <li><a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>

            <a class="sign" href="{{ path('app_topic_new') }}">Créer un nouveau topic</a>
        </div>
    </div>
{% endblock %}

