{% extends 'base.html.twig' %}

{% block title %}Détails de la catégorie{{ board.name }}{% endblock %}

{% block body %}
    <link href="{{ asset('css/board.css') }}" rel="stylesheet"/>
    <div class="container-list-board">
        <div class="container-boards">
            <h1>Liste des topics associé à "{{ board.name }}"</h1>

            <ul>
                {% for topic in topics %}
                    <li> <a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
