{% extends 'base.html.twig' %}

{% block title %}Détails du board{{ board.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Détails du board "{{ board.name }}"</h1>

        <h2>Tableaux des topics associés :</h2>
        <ul>
            {% for topic in topics %}
                <li> <a href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_topic_new') }}">Créer un board</a>
    </div>
{% endblock %}
