{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ topic.title }}</h1>

        <p>{{ topic.content }}</p>

        <h2>Messages</h2>
        <ul>
            {% for message in topic.messages %}
                <li>{{ message.content }}</li>
            {% endfor %}
        </ul>

        <form action="{{ path('topic_add_message', {'id': topic.id}) }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('add_message') }}">
            <textarea name="content" placeholder="Entrez votre message ici"></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}



