{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <div class="container-messages">
        <div class="example-wrapper">
            <div class="container-title">
                <h1>{{ topic.title }}</h1>
                <p>{{ topic.content }}</p>
            </div>

            <div class="container-list-messages">
                <h2>Messages</h2>
                <ul>
                    {% for message in topic.messages %}
                        <li>
                            {{ message.content }}
                            <p class="author">Message de {% if message.userEntity.username is not empty %}{{ message.userEntity.username }}{% else %}{{ message.userEntity.email }}{% endif %}, écrit le {{ message.createdAt|date('d/m/Y H:i') }}</p>
                        </li>
                    {% endfor %}
                </ul>

                {% if app.user %}
                    {{ render(controller('App\\Controller\\MessageController::new', {'topic': topic})) }}
                {% else %}
                    <p>
                        Vous devez vous connecter pour ajouter un message :
                        <a href="{{ path('app_login') }}">Me connecter</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



