{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ topic.title }}</h1>

        <p>{{ topic.content }}</p>

        <h2>Messages</h2>
        <ul>
            {% for message in topic.messages %}
                <li>{{ message.content }}</li>
            {% endfor %}
        </ul>

        <h2>Add a Message</h2>
        {% if app.user %}
        {{ render(controller('App\\Controller\\MessageController::new', {'topic': topic})) }}
        {% else %}
        <p>ici il faudra mettre la condition si l'utilisateur n'est pas conecter</p>
        {% endif %}
    </div>
{% endblock %}



