{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/topic.css') }}">
    <div class="container-messages">
        <div class="example-wrapper">
            <div class="container-title">
                <h1>{{ topic.title }}</h1>
                <p>{{ topic.content }}</p>
            </div>

            <div class="container-list-messages">
                <h2>Messages</h2>
                <ul>
                    {% for message in topic.messages %}
                        <li>
                            {{ message.content }}
                            <p class="author">Message de {{ message.userEntity.username }}, écrit le {{ message.createdAt|date('d/m/Y H:i') }}</p>
                        </li>
                    {% endfor %}
                </ul>

                {% if app.user %}
                    {{ render(controller('App\\Controller\\MessageController::new', {'topic': topic})) }}
                {% else %}
                    <p>ici il faudra mettre la condition si l'utilisateur n'est pas conecter</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



